html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/********************************/
/**** start of genral styles ****/
/*******************************/

/********* colors **********/
/* white #FCFCFC, rgb(252,252,252)   */
/* Very light grey #E3E3E3, rgb(227,227,227)  */
/* Black #000, rgb(0,0,0)  */
/* Grey #ACACAC, rgb(172,172,172)  */
/* Sapphire 78 #183399 78%, rgba(24, 51, 153, 0.78) */

* {
    margin: 0;
    padding: 0; 
}

html {
    font-size: 62.5%; 
    transition:all 0.3s linear;
}
/* some of the font weight does not apply on the fonts in firefox, this body rules help in correction to font weight */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
p,
a,
ul, li,
img {
    margin: 0;
    padding: 0; 
}

h1,
h2,
h3,
h4,
button,
.logo p{
    text-transform:uppercase;
    font-family: 'Cormorant Garamond', serif ;
    transition: all 0.3s linear;
}
li{
    text-transform: uppercase;
    transition: all 0.3s linear;
}
h2,
h3{
    font-weight: 600;
}
p,
a {
    font-family: 'Roboto',sans-serif ;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.9rem;
}

.wrapper {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto; 
}
.half-wrapper{
    max-width:1200px;
    margin:0 auto;
}
ul{list-style-type: none;}
a {
    text-decoration: none;
    color:#FCFCFC;
}
p{color:#ACACAC; transition:all 0.3s linear;}
img{
    width:100%;
    height:auto;
    display:block;
}
/********************************/
/**** end of general styles *****/
/*******************************/


/***********************************/
/****** start of header styles ****/
/**********************************/

header{
    background:url("one-magazine-assets/image-1.jpg");
    width:100%;
    height:100vh;
    color:#FCFCFC;
    background-size:cover;
}
header p{color:#FCFCFC;}

.logo{
    width:20%;
    float:left;
}
.logo p{
    font-size:3.5rem;
    margin:30px;
}
.nav-right{
    width:80%;
    float:left;
}
.top-nav-list{float:right;}
.nav-right i{
    visibility: hidden;
    font-size: 3rem;
    margin-top: 30px;
    line-height: 2.9rem;
    position: absolute;
    top: 0;
    right: 20px;
    transition:all 0.3s linear;
}
.nav-right i:hover::before {
    color:#000;
}
.nav-right li{
    margin:30px;
    float:left;
}
.nav-right a{transition:all 0.3s linear;}
.nav-right a:hover{color:#000;}

.main-heading{
    width:100%;
    line-height:12rem;
    transition: all 0.3s linear;
}
.main-heading{font-weight: 500;}
.main-heading em{font-weight:600;}/* One in the heading is a bit bold*/

h1{
    font-size:15rem;
    font-weight: 500;
    text-align:center;
    margin:0 auto;
    padding:10% 0;
}
h1 em{display:block;}/* To keep the heading on two lines and for emphasis also*/

/*** social icons styles ***/
.social-links{
    position:absolute;
    right:3%;
    bottom:3%;
    transition: all 0.3s linear;
}
.icons li{
    margin:10px;
}
.icons span{
    white-space: nowrap;
}
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size:2.9rem;
    /* icons font family from fontawesome.com */
    font-family: "Font Awesome 5 Brands"; 
    transition:all 0.3s linear;
}

.in::before{ content: "\f16d"; color:#FCFCFC; }
.in:hover::before{ color:#000; }

.fb::before{ content: "\f39e"; color:#FCFCFC; }
.fb:hover::before{ color:#000; }

.sc::before{ content: "\f2ac"; color:#FCFCFC; }
.sc:hover::before{ color:#000; }

.tw::before { content: "\f099"; color:#FCFCFC; }
.tw:hover::before{ color:#000; }

/**************************************/
/******* end of the header syles ******/
/**************************************/


/**************************************/
/****** start of the main styles ******/
/**************************************/

/* first section */
.news{
    text-align:center;
    margin:50px auto;
}
.pics{
    margin:0 auto;
}
.photos-section .pics{
    float:left;
}
.photos-section .pics li{
    margin-right:20px;
    width:calc((100% - 40px) / 3);
    float:left;
}
.photos-section .pics li:nth-child(3n){
    margin-right:0;
}
/* second section */
.descriptive-article{
    margin-top:100px;
    margin-bottom:100px;
}
.descriptive-article button{
    margin:20px 0;
}
.description-image{
    margin-right:50px;
    width:calc(30% - 50px);
    float:left;
}
.description{
    width:70%;
    float:left;
    position:relative;
}

.description p{
    margin-top:20px;
}

button{
    background-color:rgba(24, 51, 153, 0.78);
    border:none;
    color:#FCFCFC;
    padding:10px;
    font-size:1.8rem;
    transition:all 0.3s linear;
}
button:hover{
    background-color:#000;
    cursor:pointer;
}
h2{
    font-size:3.2rem;
    font-weight:600;
}
/* third section and common styles to section 3 and 4 */
h3{
    font-size:3rem;
}
.trend-fashion-description,
.trend-fashion-image{
    width:50%;
    float:left;
}

.trend-fashion-description h2 span{
    display:block;
}
.trend-fashion-description{
    padding-top:5%;
    font-weight:500;
    overflow:hidden;
}
.trend-fashion-description p{
    margin:20px 0;
}
.d-left{
    padding-right:8%;
}
.d-right{
    padding-left:8%;
}

/* section with the logos and links */
.shop-event{
    background-image:url("./one-magazine-assets/image-9.jpg");
    background-size:cover;
    color:#FCFCFC;
    padding:100px;
}
.shop-event ul{
    text-align:center;
}
.shop-event li{
    margin:20px;
    width:calc(100%/3 - 60px);
    display:inline-block;
}
.shop-event a{
    font-family:'Cormorant Garamond', serif ;
    font-size:3rem;
    font-weight:600;
    transition:all 0.3s linear;
}
.shop-event a:hover{
    color:#ACACAC;
}

.icons i{
    font-size:5rem;
    display:block;
    padding:15px;
}

/************************************/
/****** end of the main styles ******/
/************************************/

/****************************************/
/****** start of the footer styles ******/
/****************************************/
footer{
    background-color:#E3E3E3;
}
footer h4{
    font-size:2.5rem;
    margin-bottom:10px;
}
footer ul a{
    color:#000; 
    transition:all 0.3s linear;
}
footer ul a:hover{
    color:#ACACAC;
}
footer .wrapper{
    padding:100px 0;
}
.stay-updated form{
    width:100%;
}

input{
    border: 2px solid transparent;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif ;
    padding:10px;
    margin:10px 0;
    transition:all 0.3s linear;
}
input[type="email"]{
    width:60%;    

}
input[type="email"]:hover{
    border:2px solid rgba(24, 51, 153, 0.78);  
}
input[type="email"]:focus{ 
    background-color:rgba(24, 51, 153, 0.78);
}
input[type="submit"]{
    width:fit-content;
    background-color:#000;
    color:#FCFCFC;
}
input[type="submit"]:hover{
    background-color:rgba(24, 51, 153, 0.78);
    color:#000;
    cursor:pointer;
}
.stay-updated{
    width:50%;
    float:left;
}
.contact{
    width:30%;
    float:left;
}
.footer-nav{
    width:20%;
    float:left;
}
.footer-nav ul{
    text-align:right;
}
footer p.copy{
    background-color:#ACACAC;
    color:#000;
    padding:10px 0;
    text-align:center;
    margin-bottom:100px;
}
/****************************************/
/****** end of the footer styles ******/
/****************************************/

/**************************************/
/******* start of media queries ******/
/*************************************/

@media(min-width:1500px){
    /* all styles only linked to the side social  links */
    .social-links{
        width:100%;
        position:absolute;
        bottom:2%;
        right:0;
    }
    .social-links ul{
        text-align:center;
    }
    .social-links li{
        display:inline-block;
    }
    
}
@media(max-width:1150px){
    /* changes in the section 3 and section 4 on resizing */
    .trend-fashion-description h2 span{
        display:inline-block;
    }
    h2{
        font-size:2.5rem;
    }
    .trend-fashion-description{
        padding:30px 5% 30px 5%;
    }

}
@media(max-width:1100px){
    /* styles for section 2 containing image and description */
    .description-image{
        width:100%;
        text-align:center;
        float:none;
        margin-right: 0;
    }
    .description-image img{
        width:50%;
        height:50%;
        display:inline-block;
    }
    .description{
        width:100%;
        margin:50px auto;
        float:none;
        text-align:center;
    }

    /* styles for section 3 and 4 */
    .trend-fashion-description,
    .trend-fashion-image{
        width:100%;
        float:none;
    }
    h2{font-size:3.2rem;}
    .trend-fashion{text-align:center;}
    .tf-first{
        display:table;/* to reverse the order of the divs in the section with "new trend" heading*/
    }
    .hw-first{display:table-row-group;}
    .i-right{display:table-header-group;}

    /* styles for section 5 */
    .shop-event a{font-size:2.5rem;}
    .shop-event i{font-size:4rem;}
}

@media(max-width:840px){
    /* header styles - main heading styles */
    h1{
        font-size:10rem;
        line-height:1;
    }
    .social-links{
        width:100%;
        position:absolute;
        bottom:0;
        right:0;
    }
    .social-links ul{text-align:center;}
    .social-links li{display:inline-block;}
    h2,.shop-event a{font-size:2.8rem;}
    p,a{font-size:1.8rem;}
    h3{font-size:2.5rem;}
    /* section 5 styles */
    .shop-event{padding:20px 0;}
    .shop-event li{
        margin:50px 0;
        width:100%;
        display:block;
        font-weight:600;
    }
    .stay-updated{
        width:100%;
        float:none;
        text-align:center;
    }

    /* footer styles */
    .contact,
    .footer-nav{
        width:50%;
        padding-top:30px;
        position:relative;
    }
    .contact{left:5%;}
    .footer-nav{right:5%;}
}

/* media query to set rules to the landscapes mode of the mobile devices */
@media screen 
and (orientation:landscape)
and (max-width:840px){
    .social-links li{display:block;}
    .social-links{
        position:absolute;
        right:3%;
        bottom:3%;
    }
    .social-links ul{text-align:right;}
}

/* media query to show up the hamburger menu*/
@media(max-width:680px){
    .top-nav-list li,
    .social-links{
        display:none;
    }
    .nav-right i{visibility:visible;}
}

/* here the repetition of the query is to set the rules to two different conditions but trying to separate selectors with comma gives error and using "and" does not gives desired results */
@media screen 
and (min-width:1500px){
    .main-heading{
        position:absolute;
        top:30%;
        left:0;
    }
}
/* Media query to handle the portrait mode of the mobile devices */
@media (max-width:840px) 
and (orientation:portrait){
    .main-heading{
        position:absolute;
        top:30%;
        left:0;
    }
}

@media(max-width:550px){
    /* header styles */
    .logo{visibility:hidden;}
    h1{font-size:6.5rem;}

    /* section 1 styles in main tag */
    .photos-section ul li:last-child{display:none;}
    .photos-section .pics li{
        margin:0 10px;
        width:calc(50% - 20px);
    }
    .photos-section ul{text-align:center;}

    /* section 2 styles */
    .description-image img{width:80%;}
    .descriptive-article{
        margin-top:50px;
        margin-bottom:50px;
    }
    button{font-size:2.2rem;}
    
}

@media(max-width:440px){
    /* header styles */
    h1{font-size:5.5rem;}
    /* main styles */
    h2,
    h3{font-size:2.5rem;}
    .shop-event a{
        font-size:2rem;
    }
    p,a{font-size:1.5rem;}
    /* footer form styles */
    input[type="email"],
    input[type="submit"]{
        width:100%;
        text-align:center;
    }
    footer p{color:#000;}
    footer .wrapper{padding:50px 0;}
}

/**************************************/
/******* end of media queries ******/
/*************************************/